
.login-container {
  border-radius: 8px;
  width: 300px;
  padding: 16px;
  margin: 0 auto;
  margin-top: 400px;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
  backdrop-filter: blur(35px);

}

.login-container input[type="text"], .login-container input[type="password"] {
  border-radius: 8px;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.button-container {
  display: flex;
  justify-content: space-between;

}

.button-container button {
  background-color: indigo;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  border-radius: 8px;


  width: 45%; /* Ajuste conforme necessário */
  margin-right: 10%;
}

.button-container button:last-child {
  margin-right: 0;
}

/* .login-container button {
  background-color: indigo;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
} */

.login-container button:hover {
    opacity: 0.8;
}

.login-container .signup {
    width: 100%;
    padding: 12px 0;
    text-align: center;
}
