
.container-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; /* Change the flex direction to column */
    backdrop-filter: blur(25px);
    height: 100vh;
  }
  
.containerForm {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 15px;
    width: 100%;
    margin: 34px 0;
    display: flex;
    border-radius: 8px;
    box-shadow: 1px 3px 8px rgba(0,0,0,0,0.5);

    height: 5%;
    align-items: center;
    justify-content: center;
    max-width: 350px;


}


.containerForm input {
    width: 100%;
    background-color: transparent;
    border: 0;
    outline: none;
    color: #fff;
    font-size: 20px;
    outline: none;
    margin: 8px;
  }

.btn{
    padding: 16px 20px;
    outline: none;
    border: none;
    border-radius: 8px;
    width: 100%;
    cursor: pointer;
    background-color: #046ee5;
    color: white;
    font-weight: 600;
    font-size: 16px;
    max-width: 350px;
}


  
.containerForm input::placeholder {
    color: #f1f1f1;
  }