.container_search {
    border-radius: 8px;
    width: 300px;
    padding: 16px;
    margin: 0 auto;
    margin-top: 200px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    backdrop-filter: blur(25px);
  }
  
  .container.slide {
    transform: translateX(50%);
  }
  
  .info {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  img {
    cursor: pointer;
  }
  